<div class="window">
	<div class="posthomedc">
		<div id="phdisplayin">
			<%= content_tag :h1, "These are the posts." %>
				<!-- Below will take all posts and display them and the information associated. -->
				<% @posts.each do |post| %>
				<%= content_tag :h4, "Post Title."; link_to post.title, post_path(post.id)%>
				<br>
								<%= post.body %> 
								<br>
				<%= content_tag :h4, "Post Author." ; post.user.username %>
				<!-- The h4 content is not showing up on either of these. -->
				<br><br>
				<% end %>
		</div>
	</div>
	<div class="planet"></div>
	<div class="locate">
		<div class="lm1 locateturn" id="lt1"></div>
	</div>
	<div class="optics">
		<div class="cm1 opticturn" id="ot1"></div>
		<div class="cm2 opticturn" id="ot2"></div>
		<div class="cm3 opticturn" id="ot3"></div>
		<div class="cm4 opticturn" id="ot4"></div>
	</div>
</div>
