/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
	width: 100vw;
	height: 100vh;
	background-image: image-url('bkg_new.png');
	background-repeat:no-repeat;
	background-position: center;
	margin:0px 0px;
  	background-size:cover;
  	display: flex;
  	flex-direction: column;
  	overflow-x: hidden;
  	overflow-y: hidden;
}
.container {
	display:flex;
	flex:1;
	justify-content:center;
	align-items:center;
	width: 100vw;
	height: 100vh;
	z-index: 2;
	background-repeat:no-repeat;
	background-position: center;
}
.menu_new {
	display: flex;
	width: 100vw;
	height: 150px;
	position: absolute;
	bottom: 0;
	text-align: center;
	justify-content:center;
	z-index: 9999;
}
.menubox {
	display: flex;
	// position: absolute;
	width: 250px;
	height: 154px;
	margin-top: 70px;
	background-image: image-url('menu_box.png');
	background-repeat:no-repeat;
	background-position: center;
	cursor: crosshair;
}
#linkc {
	width: 250px;
	color: rgba(255, 255, 255, .7);
	text-align: center;
	padding-top: 40px;
	font-size: 1.2em;
}
.logo {
	display: flex;
	z-index: 9;
	width: 100px;
	height: 100px;
	background-image: image-url('logo.svg');
	background-repeat:no-repeat;
	background-position: center;
	position: fixed;
    top: 0px;
    margin-top: 20px;
    margin-left: 80px;
    opacity: 0.7;
}
.loginout {
	position: fixed;
	z-index: 9998;
	width: 400px;
	height: 50px;
	margin-top: 20px;
    margin-left: 950px;
	// background-color: rgb(112, 200, 255);
	text-align: right;
	line-height: 24px;
}
.sitename {
	display: flex;
	z-index: 44;
	flex: 1;
	height: 60px;
	top: 0;
	margin-bottom: 40px;
	margin-left: 650px;
	text-align: left;
	padding-top:20px;
	position: fixed;
}

.lightup {
	display: none;
	position: absolute;
	width: 550px;
	height: 1150px;
	margin-top: -105px;
    margin-left: -980px;
	background-image: image-url('lightup_bkg.svg');
	background-repeat:no-repeat;
	background-position: center;
	opacity: 0.3;
	z-index: 1;
}
.hovertop {
	display: none;
	position: absolute;
	width: 350px;
	height: 100px;
	margin-top: 95px;
    margin-left: 560px;
	background-image: image-url('hover_top.svg');
	background-repeat:no-repeat;
	background-position: center;
	opacity: 0.8;
	z-index: 2;
}
.hoverbottom {
	display: none;
	position: absolute;
	width: 350px;
	height: 100px;
	margin-top: 595px;
    margin-left: 560px;
	background-image: image-url('hover_bottom.svg');
	background-repeat:no-repeat;
	background-position: center;
	opacity: 0.8;
	z-index: 2;
}
.content {
	display: flex;
	flex: 2;
	/*justify-content:center;*/
/*	align-items:center;*/
	z-index: 4;
	height: 600px;
	// background-color: rgb(112, 200, 255);
}
.usercontainer {
	display: flex;
	z-index: 5;
	width: 210px;
	height: 520px;
	margin-top: 20px;
	margin-left: 60px;
	float: left;
	padding: 20px;
}
.userlist {
	display: none;
	z-index: 5;
	width: 210px;
	height: 520px;
	float: left;
	color: rgba(255, 255, 255, .8);
	// background-color: rgb(59, 81, 207);
}
.userin {
	display: none;
	z-index: 5;
	width: 210px;
	height: 520px;
	float: left;
	color: rgba(255, 255, 255, .8);
	// background-color: rgb(59, 81, 207);
}
.userup {
	display: flex;
	z-index: 5;
	width: 210px;
	height: 520px;
	float: left;
	color: rgba(255, 255, 255, .8);
	// background-color: rgb(59, 81, 207);
}


.window {
	width:700px;
	height:700px;
	z-index: 6;
	margin-top: 10px;
	margin-left: 370px;
	justify-content:center;
	// float: left;
}
.optics {
	display: none;
	z-index: 7;
	width: 500px;
	height: 500px;
	position: absolute;
	margin-top: 30px;
	margin-left: 110px;
}
.opticturn {
	width: 500px;
	height: 500px;
}
#ot1 {
	background-image: image-url('ot1.svg');
	background-repeat:no-repeat;
	background-position: center;
	position: absolute; 
	top: 0; 
	left: 0;
	opacity: 0.15;
}
#ot2 {
	background-image: image-url('ot2.svg');
	background-repeat:no-repeat;
	background-position: center;
	position: absolute; 
	top: 0; 
	left: 0; 
	opacity: 0.15;
}
#ot3 {
	background-image: image-url('ot3.svg');
	background-repeat:no-repeat;
	background-position: center;
	position: absolute; 
	top: 0; 
	left: 0; 
	opacity: 0.15;
}
#ot4 {
	background-image: image-url('ot4.svg');
	background-repeat:no-repeat;
	background-position: center;
	position: absolute; 
	top: 0; 
	left: 0;
	opacity: 0.15;
}
.ot1-anim {
	transform: rotate(45deg);
	transition-duration: 2s;
}
.ot2-anim {
	transform: rotate(-90deg);
	transition-duration: 0.25s;
}
.ot3-anim {
	transform: rotate(82deg);
	transition-duration: 1s;
}
.ot4-anim {
	transform: rotate(120deg);
	transition-duration: 0.5s;
}
.ot5-anim {
	transform: rotate(105deg);
	transition-duration: 1.5s;
}
.ot6-anim {
	transform: rotate(-120deg);
	transition-duration: 1.25s;
}
.ot7-anim {
	transform: rotate(-45deg);
	transition-duration: 0.5s;
}
.ot8-anim {
	transform: rotate(266deg);
	transition-duration: 0.5s;
}
.ot9-anim {
	transform: rotate(305deg);
	transition-duration: 1.3s;
}
.ot10-anim {
	transform: rotate(35deg);
	transition-duration: 0.8s;
}
.ot11-anim {
	transform: rotate(-207deg);
	transition-duration: 0.95s;
}
.ot12-anim {
	transform: rotate(137deg);
	transition-duration: 0.2s;
}
.ot13-anim {
	transform: rotate(193deg);
	transition-duration: 0.45s;
}
.ot14-anim {
	transform: rotate(-75deg);
	transition-duration: 1.6s;
}
.ot15-anim {
	transform: rotate(-217deg);
	transition-duration: 0.8s;
}
.ot16-anim {
	transform: rotate(325deg);
	transition-duration: 0.13s;
}



.ot1-reanim  {
	transform: rotate(0deg);
	transition-duration: 2s;
}
.locate {
	z-index: 6;
	width: 655px;
	height: 655px;
	position: absolute;
	margin-top: -340px;
	margin-left: 45px;
}
.locateturn {
	width: 655px;
	height: 655px;
}
#lt1 {
	background-image: image-url('locate.svg');
	background-repeat:no-repeat;
	background-position: center;
	position: absolute; 
	top: 0; 
	left: 0;
	opacity: 0.65;
}
.lt1-anim {
	transform: rotate(45deg);
	transition-duration: 2s;
}
.planet {
	z-index: 5;
	width: 120px;
	height: 120px;
	position: absolute;
	margin-top: 260px;
	margin-left: 745px;
	background-image: image-url('planet.svg');
	background-repeat:no-repeat;
	background-position: center;
	opacity: 0.85;
}



