// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// styling for the log in page.
.signinContainer {
	display: flex;
	width: 700px;
	height: 300px;
	// margin-top: 380px;
	// margin-left: 60px;
	background-image: image-url('bkg_comment.png');
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	left: 35%;
	top: 35%;

	

}

.signinContainer form {
	position: relative;
	// float: left;
	// display: block;
	top: 30%;
	left: 20%;
}



.signinContainer form label{
	display: block;
}

.signinTitle {
	position: relative;
	top: 20%;
	left: 45%;
	text-align: center;


}