<!DOCTYPE html>
<html>
<head>
  <title>Bountyblog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<div class="menucontainer">
			<div id="menuin">
			</div>
		</div>
		<div class="content">
			<div class="usercontainer">
				<div class="userin">
				</div>
			</div>
			<div class="window">
				<div class="postcontainer">
					<div id="postin">
					</div>
				</div>
				<div class="commentcontainer">
					<div id="commentin">
					</div>
				</div>
			</div>
		</div>
	</div>


</body>
</html>
